@import "compass"
@import "../define"

*,
body
  margin: 0
  padding: 0
  clear: both
  font-family: ProximaNova, 'Helvetica Neue', Helvetica, Arial, sans-serif

a
  text-decoration: none
  &:link
    color: $nav-font-color!important
  &:visited
    color: $nav-font-color!important
  &:hover
    color: black!important
  &:active
    color: $nav-font-color!important

input:focus,
textarea:focus
  border-color: #2575ed!important
  box-shadow: none!important

.popup
  display: none
  background: rgba(38,38,38,.6)
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 9999


.loading
  text-align: center
  padding-top: 20%
  position: absolute
  z-index: 9999
  height: 100%
  background-color: rgb(232,233,219)
  top: 0
  bottom: 0
  left: 0
  right: 0
  i
    font-size: 100px
    color: white

body
  background: $background-color
  padding: 0 15%

  header
    background: $background-color

  nav
    ul
      li
        a
          text-decoration: none
          color: rgb(153,153,153)

          &:link
            color: rgb(153,153,153)
          &:visited
            color: rgb(153,153,153)
          &:hover
            color: black
          &:active
            color: rgb(153,153,153)

      .input-group
        display: inline-block
    

ul
  list-style: none
  padding: 25px 0
  text-align: center
  li
    display: inline-block
    color: $nav-font-color
    margin-right: 6%
    font-size: 12px

    a
      &:hover
        cursor: pointer
        text-decoration: none

  .input-group
    border-bottom: 1px solid $nav-font-color
    padding: 0

    input
      outline: none
      border: none
      margin-left: 5px
      padding: 0
      background: $background-color

.portrait
  text-align: center
  padding: 0 0 40px

  img
    width: 150px
    height: 150px
    -webkit-clip-path: circle(75px at center)
    -moz-clip-path: circle(75px at center)
    -o-clip-path: circle(75px at center)
    clip-path: circle(75px at center)

  i
    position: absolute
    top: 353px
    background-color: #fff
    color: orange

  .motto
    font-size: 12px
    margin-top: 1.5em
    color: $nav-font-color

#content
  position: relative
  background: white
  padding: 15px
  border-radius: 10px
  margin-bottom: 20px
  @include box-shadow(0 3px 4px #B9B9B3)

  .articles
    padding: 0 40px

    .article-list
      border-bottom: 1px dashed #eee
      padding: 20px 0 10px
      cursor: pointer

      &:hover
        border-bottom: 1px solid orangered
        @include transition(border-bottom 1s)

      a
        &:hover
          text-decoration: none

      &:last-child
        border-bottom: none

    .opt-group
      width: 4%
      display: inline-block
      vertical-align: top
      padding-top: 4px
      button
        padding: .25em .55em
        i
          color: white

    .article
      width: 94%
      display: inline-block
      p
        margin: 10px 0

  .create-date
    float: right
    font-size: 12px
    line-height: 26px

    i,
    span
      color: skyblue

  h1, h2, h3, h4, h5, h6, p
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  h3
    color: #666
    margin-bottom: 0
    font-weight: normal
    margin-top: 3px
    margin-left: 5px

  p
    text-indent: 2em
    color: rgb(153,153,153)

  .tags
    text-indent: .7em
    margin-bottom: 0!important
    font-weight: normal

    label
      margin-right: 10px
      color: pink

      i
        color: pink

.writings
  background: #fff
  padding: 44px 10% 44px 10%

  .about-article
    position: relative
    width: 54px
    height: auto

    .sign
      border-radius: 50%
      text-align: center
      background-color: orange
      width: 54px
      height: 54px
      line-height: 54px
      font-size: 24px
      color: #fff

  .article
    position: relative
    top: -54px
    left: 86px
    width: 60%

  .operate
    position: absolute
    top: 418px
    right: 24.7%
    .date
      border-top: 3px solid #999
      border-bottom: 1px solid #999
      padding: 6px

input:focus,
textarea:focus
  box-shadow: none
  border: none

label
  font-weight: normal

.btn-green
  background: #2CD64D

.btn-red
  background: red
  padding: 6.3px 13px!important

.modal
  header
    background: #fff

  .modal-body
    padding: 15px 30px

    .form-group
      margin-bottom: 0

      #save-article
        margin-bottom: 0

        .input-group
          width: 100%!important

          input,
          textarea
            width: 100%!important

          .group
            width: 100%!important
            input
              width: auto!important

#create-msg
  position: absolute
  top: 30px
  right: 10px
  padding: 15px 20px
  color: white
  border-radius: 5px

#create-msg.tools-message-green
  background: #2CD64D

#create-msg.tools-message-red
  background: darkred