@import "compass"
@import "../define"

*
  margin: 0
  padding: 0
  clear: both
  font-family: ProximaNova, 'Helvetica Neue', Helvetica, Arial, sans-serif

a
  text-decoration: none
  &:link
    color: $nav-font-color
  &:visited
    color: $nav-font-color
  &:hover
    color: black
  &:active
    color: $nav-font-color

.popup
  display: none
  background: rgba(38,38,38,.6)
  position: absolute
  top: 0
  left: 0
  width: 100%
  z-index: 9999


.loading
  width: 64%
  text-align: center
  padding-top: 20%
  position: absolute
  z-index: 9999
  height: 100%
  background-color: rgb(232,233,219)
  i
    font-size: 100px
    color: white

body
  background: $background-color
  padding: 0 15%

  header
    background: #ffffff

ul
  list-style: none
  padding: 25px 0
  text-align: center
  li
    display: inline-block
    color: $nav-font-color
    margin-right: 6%
    font-size: 12px

  .input-group
    border-bottom: 1px solid $nav-font-color
    padding: 3px 10px 3px 0

    input
      outline: none
      border: none
      margin-left: 5px

.portrait
  text-align: center
  padding: 0 0 40px
  border-bottom: 1px solid $nav-font-color

  img
    width: 150px
    height: 150px
    -webkit-clip-path: circle(75px at center)
    -moz-clip-path: circle(75px at center)
    -o-clip-path: circle(75px at center)
    clip-path: circle(75px at center)

  i
    position: absolute
    top: 353px
    background-color: #fff
    color: orange

  .motto
    font-size: 12px
    margin-top: 1.5em
    color: $nav-font-color

.content
  background: white
  padding: 15px

  .create-date
    float: right
    font-size: 12px
    line-height: 26px
    span
      color: #4094c7

  h1, h2, h3, h4, h5, h6, p
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  h3
    color: #555

  p
    text-indent: 2em

.writings
  background: #fff
  padding: 44px 10% 44px 10%

  .about-article
    position: relative
    width: 54px
    height: auto

    .sign
      border-radius: 50%
      text-align: center
      background-color: orange
      width: 54px
      height: 54px
      line-height: 54px
      font-size: 24px
      color: #fff

  .article
    position: relative
    top: -54px
    left: 86px
    width: 60%

  .operate
    position: absolute
    top: 418px
    right: 24.7%
    .date
      border-top: 3px solid #999
      border-bottom: 1px solid #999
      padding: 6px

input:focus,
textarea:focus
  box-shadow: none
  border: none